name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    
    - name: Verify Docker Build (API)
      run: docker build -f FaultDiagnosis.API/Dockerfile .

    - name: Verify Docker Build (Pipeline)
      run: docker build -f FaultDiagnosis.DataPipeline/Dockerfile .
